[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
black = "*"
langchain-community = "*"
openai = "==0.28.1"
python-dotenv = "*"
google-search-results = "*"
flask = "*"
typing-extensions = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
